.about {
    padding-top: 60px;
    padding-bottom: 116px;
    background-color: $green-background;
    @media screen and (min-width:768px) {
        padding-bottom: 86px;
        margin-bottom: -1px;
    }
    @media screen  and (min-width:1200px) {
        padding-bottom: 99px;
    }
}

.about__label {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22/18);
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $main-text-color;
    margin-bottom: 12px;
    @media screen and (min-width:768px) {
        font-size: 22px;
    }
}

.about__title {
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-text-color;
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
    @media screen and (min-width: 768px) {
        padding-right: 0;
        padding-left: 0;
        max-width: 460px;
        margin-bottom: 72px;
        font-size: 34px;
        letter-spacing: .06em;
    }
}

.about__bg-img {
    width: 279px;
    height: 278px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    display: block;
    margin: 0 auto;
    margin-bottom: 62px;
    @media screen and (min-width: 768px) {
        width: 50%;
        width: 330px;
        height: 330px;
        margin: 0;
        margin-bottom: 86px;
    }
    @media screen and (min-width: 1200px) {
        width: 490px;
        height: 490px;
        margin: 0;
        margin-bottom: 89px;
    }
}

.about__bg-img::after {
    position: absolute;
    content: " ";
    width: 279px;
    height: 279px;
    border-radius: 50%;
    background-image: url("../images/cow-1x-mob.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(26px);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/cow-2x-mob.jpg");
        }
    @media screen and (min-width: 768px) {
        width: 330px;
        height: 330px;
        background-image: url("../images/cow-1x-tab.jpg");
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/cow-2x-tab.jpg");
        }
    }
    @media screen and (min-width: 1200px) {
        width: 490px;
        height: 490px;
        transform: translateY(8%);
        background-image: url("../images/cow-1x-desk.jpg");
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/cow-2x-desk.jpg");
        }
    }
}

.about__main-content {
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        gap: 38px;
    }
    @media screen and (min-width:1200px) {
        gap: 100px;
    }
}

.about__description {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    @media screen and (max-width:767px) {
        & .about__description-text:nth-child(2) {
            letter-spacing: 0;
        }
    }
    @media screen and (min-width:480px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width:768px) {
        max-width: 334px;
        margin-bottom: 32px;
        padding: 0;
        padding-top: 8px;
        gap: 8px;
    }
    @media screen and (min-width:1200px) {
        max-width: 463px;
        margin-bottom: 43px;
        padding-top: 90px;
        & .about__description-text:nth-child(1) {
            font-size: 16px;
        }
    }
}

.about__description-text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(21/12);
    text-align: center;
    letter-spacing: .04em;
    color: $main-text-color;
    @media screen and (min-width:768px) {
        text-align: left;
        letter-spacing: .04em;
    }
    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
}

.about__des—Åription--hidden {
    @media screen and (max-width:767px) {
        display: none;
    }
}

.about__button {
    min-width: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    color: $black-color;
    background-color: $accent-color;
    padding: 12px 34px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
        margin: 0;
    }
    &:hover, &:focus {
        background-color: $hover-bg-color;
        color: $white-color;
    }
    &:hover .about__icon-next,
    &:focus .about__icon-next {
        fill: $white-color;
    }
}

.about__icon-next {
    margin-left: 4px;
    fill: $black-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
