.about__label {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $main-text-color;
    margin-bottom: 12px;

}

.about__container {
    padding-top: 61px;
    padding-bottom: 116px;
}

.about__list {
    margin: 0;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
            margin-bottom: 32px;
        }
                @media screen and (min-width: 1200px) {
                    margin-top: 95px;
                    margin-bottom: 54px;
                }
}

.about__title {
    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-text-color;
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
            max-width: 454px;
            margin-bottom: 72px;
        }
}

.about {
    background-color: #84A178;
}

.about__bg-img {
    width: 279px;
    height: 278px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    display: block;
    margin: 0 auto;
    margin-bottom: 62px;
    @media screen and (min-width: 768px) {
            width: 336px;
            height: 356px;
            margin: 0;
            margin-bottom: 60px;

        }
@media screen and (min-width: 1200px) {
    width: 500px;
    height: 500px;
    margin: 0;
    margin-bottom: 60px;

}

}

.about__bg-img::after {
    position: absolute;
    content: " ";
    width: 279px;
    height: 278px;
    border-radius: 50%;
    background-image: url("../images/cow-1x-mob.jpg");
    background-position: center;
    background-size: cover;
    transform: translateY(10%);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/cow-2x-mob.jpg");
        }

        @media screen and (min-width: 768px) {
            width: 336px;
            height: 356px;
            background-image: url("../images/cow-1x-tab.jpg");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/cow-2x-tab.jpg");
            }
        }

        @media screen and (min-width: 1200px) {
            width: 490px;
            height: 490px;
            background-image: url("../images/cow-1x-desk.jpg");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/cow-2x-desk.jpg");
            }
        }
}

.about__item {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
@media screen and (min-width: 768px) {
        max-width: 336px;
        margin: 0 0 8px 0;
    }
        @media screen and (min-width: 1200px) {
            max-width: 370px;
        }

}

.hidden {
    display: none;
    @media screen and (min-width: 768px) {
            display: inline;

        }
}

.about__deskription {
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    display: block;
    text-align: center;
    letter-spacing: 0.04em;
    color: $main-text-color;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    @media screen and (min-width: 768px) {
            text-align: left;
            display: inline;
            margin: 0;
            padding: 0;

        }
}

.about__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: $black-color;
    cursor: pointer;
    background-color: $accent-color;
    padding: 12px 51px 12px 34px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
            margin: 0;
        }
}


.about__button:hover,
.about__button:focus{
    background-color: #0A8817;
}

.svg{
    fill: $black-color;
}

.about-for-tab{
    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            gap: 32px;
        }

                @media screen and (min-width: 1200px) {
                    gap: 100px;
                }
}
