body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

a {
  outline: none;
  text-decoration: none;
}