body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: url('../images/cursor.svg'), auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

a {
  outline: none;
  text-decoration: none;
  cursor: url('../images/cursor.svg'), auto;
}

button {
  cursor: url('../images/cursor.svg'), auto;
}
