.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  max-width: 420px;
  min-width: 280px;
  width: 87.3%;
  height: 95%;
  overflow: scroll;
  padding-top: 28px;
  border-radius: 10px;
  background-color: $main-text-color;
  border: 2px solid $accent-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    max-width: 568px;
    overflow: auto;
  }
}

.btn-modal {
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: $main-text-color;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: none;
  right: 12px;
  top: 12px;
  transform: translateX(-50%);
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.btn-svg:hover,
.btn-svg:focus {
  fill: $accent-color;
}

.btn-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $dark-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.product-modal__title {
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  text-align: center;
  color: $dark-text-color;
  padding: 0 69px 0 69px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding: 0;
    justify-content: center;
    margin-bottom: 24px;
  }
}

.modal__bg-circle {
  margin: 0 auto;
  width: 132px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    height: 132px;
  }
}

.modal__bg-circle::after {
  position: absolute;
  content: ' ';
  width: 132px;
  height: 130px;
  border-radius: 50%;
  background-image: url('../images/modal-icecream.jpg');
  transform: translateY(-5%);
  @media screen and (min-width: 768px) {
    height: 132px;
  }
}

.item-container {
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  padding-top: 50px;
  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
    padding-top: 66px;
  }
}

.elements-list {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 9px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-left: 124px;
    padding-right: 124px;
    gap: 20px;
    margin-bottom: 48px;
  }
}

.elements-list__item {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  color: $dark-text-color;
}

.item-circle {
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #9cbe8f;
  padding-top: 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: $dark-text-color;
  transform: translate(7%, -150%);
  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    transform: translate(8%, -150%);
  }
}

.ingredients-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $dark-text-color;
  margin-bottom: 24px;
}

.ingredients-list {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.ingredients-list__item-dose {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: $dark-text-color;
  margin: 0 0 11px 0;
  padding: 0 20px 0 20px;
}

.ingredients-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-modal-form {
  padding: 0 20px 28px 20px;
  @media screen and (min-width: 768px) {
    padding: 0 100px 32px 100px;
  }
}

.form-input {
  width: 100%;
  margin-bottom: 16px;
  height: 42px;
  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;
  padding: 11px;
  background: rgba(248, 210, 78, 0.1);
  @media screen and (min-width: 768px) {
    padding: 11px 16px;
  }
}

.form-input::placeholder {
  color: $dark-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.form-comment {
  width: 100%;
  margin-bottom: 24px;
  min-height: 84px;
  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;
  resize: none;
  padding: 11px;
  background: rgba(248, 210, 78, 0.1);
  @media screen and (min-width: 768px) {
    padding: 11px 16px;
  }
}

.form-comment::placeholder {
  color: $dark-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.product-modal-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $dark-text-color;
  padding: 12px 34px;
  background-color: $accent-color;
  border-radius: 10px;
  border: transparent;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-modal-btn:hover,
.product-modal-btn:focus {
  background-color: $hover-bg-color;
  color: $main-text-color;
}
