.backdrop__modal-about {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-about {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 280px;
  min-height: 459px;
  padding: 26px;
  border: 2px solid $accent-color;
  background-color: $main-text-color;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  @media screen and (min-width: 768px) {
    gap: 32px;
    max-width: 568px;
    min-height: 449px;
    padding: 30px 58px;
  }

  .backdrop__modal-about.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  &__close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    font-family: $secondary-font-family;
    text-align: center;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: normal;
    color: $dark-text-color;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }

  &__video-area {
    position: relative;
    border-radius: 10px;
    width: 224px;
    height: 199px;
    background-color: $black-color;

    @media screen and (min-width: 768px) {
      width: 448px;
      height: 205px;
    }
  }

  &__video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $main-text-color;

    &:hover {
      fill: #e3e3e3;
    }
  }

  &__text {
    font-size: 14px;
    line-height: calc(20 / 14);
    letter-spacing: normal;
    color: $dark-text-color;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(22 / 16);
    }
  }
}
