.backdrop__modal-locations {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.backdrop__modal-locations.is-hidden .modal-locations {
    @media screen and (min-width: 320px) {
        transform: translate(-50%, 0%) scale(0.5);
    }
}

.modal-locations {
    position: relative;
    min-width: 280px;
    min-height: 365px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $accent-color;
    background-color: $modal-bg-color;
    border-radius: 10px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 320px) {
        max-width: 450px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    @media screen and (min-width: 768px) {
        max-width: 568px;
        min-height: 458px;
        padding: 32px 60px;
    }
}
.modal-locations__bnt-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }
}

.modal-locations__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    color: $dark-text-color;
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: calc(28/20);
    }
}

.modal-locations__map {
    margin-bottom: 24px;
    width: 100%;
    // width: 224px;
    height: 199px;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (min-width: 480px) {
        width: 350px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        width: 448px;
        height: 260px;
    }

}
.modal-locations__ifraim {
    width: 100%;
    height: 100%;
}
.modal-locations_link {
    min-width: 134px;
    padding: 13px 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15/12);
    color: $dark-text-color;
    background-color: $accent-color;
    border-radius: 10px;
    letter-spacing: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width:768px) {
        min-width: 145px;
        font-size: 14px;
    }
    &:hover, &:focus {
        background-color: $hover-bg-color;
        color: $white-color;
    }
}