
.gallery-reviews {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, #fafbff66 0%, #f5f5f500 0%),
    url('../images/bg-mob-1x.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, #fafbff66 0%, #f5f5f500 0%),
      url('../images/bg-mob-2x.jpg');
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    background-image: linear-gradient(to right, #fafbff66 0%, #f5f5f500 0%),
      url('../images/bg-tablet-1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #fafbff66 0%, #f5f5f500 0%),
        url('../images/bg-tablet-2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, #fafbff66 0%, #f5f5f500 0%),
      url('../images/bg-1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #fafbff66 0%, #f5f5f500 0%),
        url('../images/bg-2x.jpg');
    }
  }
}

.swiper {
  max-width: 1013px;
 margin-bottom: 20px;
}

.swiper-slide {
    margin-bottom: 40px;
}
