.products__label {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $dark-text-color;
    margin-bottom: 12px;
}

.products__title {
    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-text-color;
    margin-top: 0;
    margin-bottom: 148px;
    @media screen and (min-width: 768px) {
            margin-bottom: 200px;
        }
                @media screen and (min-width: 1200px) {
                    margin-bottom: 303px;
                }
}

.products__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-text-color;
    margin-top: 0;
    margin-bottom: 40px;
}

.products__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 148px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }
        @media screen and (min-width: 1200px) {
            gap: 29px;
        }
}

.products__item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $dark-text-color;
    margin-top: 0;

}

.products {
    padding-top: 60px;
    padding-bottom: 60px;
}

.products__item-btn {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.products__item-container{
    width: 100%;
    max-width: 280px;
    height: 420px;
    border-radius: 24px;
    padding: 123px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    @media screen and (min-width: 768px) {
            max-width: 224px;
            height: 428px;
            padding: 108px 26px 12px 26px;
        }
    @media screen and (min-width: 1200px) {
    max-width: 370px;
    height: 536px;
    padding: 165px 92px 60px 92px;
}
}

.products__item-container1 {
    @extend .products__item-container;
    background-color: #AEC6A5;
}

.products__item-container-photo{
    position: absolute;
    content: " ";
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transform: translateY(-120%);
    @media screen and (min-width: 768px) {
            height: 197px;
            transform: translate(-6%,-115%);
        }
                @media screen and (min-width: 1200px) {
                    width: 302px;
                    height: 300px;
                    transform: translate(-20%, -115%);
                }
}

.products__item-container1::before {
    @extend .products__item-container-photo;
    background-image: url("../images/product1-1x-mob-min.jpg");
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/product1-2x-mob-min.jpg");
        }
                @media screen and (min-width: 768px) {
                background-image: url("../images/product1-1x-tab-min.jpg");
                
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: url("../images/product1-2x-tab-min.jpg");
                }
}
@media screen and (min-width: 1200px) {
    background-image: url("../images/product1-1x-desk-min.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/product1-2x-desk-min.jpg");
    }
}
}

.products__item-circle{
    position: absolute;
    transform: translate(20%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    @media screen and (min-width: 768px) {
            height: 197px;
            transform: translate(7%, -50%);
        }
        @media screen and (min-width: 1200px) {
            width: 302px;
            height: 300px;
            transform: translate(10.5%, -53%);
        }
}

.products__item-circle1 {
    @extend .products__item-circle;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products__item-container2 {
    @extend .products__item-container;
    background-color: #EFD478;
}

.products__item-container2::before {
    @extend .products__item-container-photo;
    background-image: url("../images/product2-1x-mob-min.jpg");
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/product2-2x-mob-min.jpg");
        }
                @media screen and (min-width: 768px) {
                    background-image: url("../images/product2-1x-tab-min.jpg");
        
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: url("../images/product2-2x-tab-min.jpg");
                    }
                }
        
                @media screen and (min-width: 1200px) {
                    background-image: url("../images/product2-1x-desk-min.jpg");
        
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: url("../images/product2-2x-desk-min.jpg");
                    }
                }
}

.products__item-circle2 {
    @extend .products__item-circle;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products__item-container3 {
    @extend .products__item-container;
    background-color: #D6936D;
}

.products__item-container3::before {
    @extend .products__item-container-photo;
    background-image: url("../images/product3-1x-mob-min.jpg");
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/product3-2x-mob-min.jpg");
        }
                @media screen and (min-width: 768px) {
                    background-image: url("../images/product3-1x-tab-min.jpg");
        
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: url("../images/product3-2x-tab-min.jpg");
                    }
                }
        
                @media screen and (min-width: 1200px) {
                    background-image: url("../images/product3-1x-desk-min.jpg");
        
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: url("../images/product3-2x-desk-min.jpg");
                    }
                }
}

.products__item-circle3 {
    @extend .products__item-circle;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}


.products-overlay {
    //max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    //background-size: cover;
    background-repeat: repeat;
    background-image: url("../images/products-bg-1x-mob-min.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/products-bg-2x-mob-min.jpg");
    }

    @media screen and (min-width: 768px) {
        background-image: url("../images/products-bg-1x-tab-min.jpg");

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products-bg-2x-tab-min.jpg");
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: url("../images/products-bg-1x-desk-min.jpg");

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products-bg-2x-desk-min.jpg");
        }
    }
}