%button {
  padding: 12px 35px;
  color: $black-color;
  background-color: $accent-color;
  border-radius: 10px;
  font-size: 14px ;
  font-weight: 600;
  text-align: center;
  line-height: calc(17/14);
  border: none;
}