%button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 35px;
  color: $black-color;
  background-color: $accent-color;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: calc(17 / 14);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    background-color: $green-color;
    color: $white-color;
  }
}

.button-icon {
  margin-left: 4px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: #131313;
    transition: color .25s cubic-bezier(.4, 0, .2, 1);
  }

}
