$main-text-color: #fcfcfc;
$accent-color: #f8d24e;
$secondary-text-color: #ababab;
$bg-color: #84a278;
$footer-color-text: #7a7a7a;
$dark-text-color: #131313;
$white-color: #ffffff;
$black-color: #000000;
$text-address-color: #d6936d;
$green-background: #84a178;
$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Seymour One', sans-serif;
$secondary-green-background:#D9D9D9;
$modal-bg-color: #FCFCFC;
$hover-bg-color: #0A8817;
$link-text-color: #D6936D;
$divided-line-color: #E1E1E1;
$input-background:#f8d24e1a;

$green-color:#0A8817;