$main-text-color: #fcfcfc;
$accent-color: #f8d24e;
$secondary-text-color: #ababab;
$bg-color: #84a278;
$footer-color-text: #7a7a7a;
$dark-text-color: #131313;
$white-color: #ffffff;
$black-color: #000000;
$text-address-color: #d6936d;
$green-background: #84a178;
$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Seymour One', sans-serif;
$secondary-green-background: #d9d9d9;
$modal-bg-color: #fcfcfc;
$hover-bg-color: #0a8817;
$link-text-color: #d6936d;
$divided-line-color: #e1e1e1;
$input-background: #f8d24e1a;
$green-color: #0a8817;
