$main-text-color: #FCFCFC;
$accent-color: #F8D24E;
$secondary-text-color: #ABABAB;
$bg-color: #84A278;
$footer-color-text: #7A7A7A;
$dark-text-color: #131313;
$white-color: #FFFFFF;
$black-color: #000000;
$text-address-color: #D6936D;
$green-background: #84A178;
$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Seymour One', sans-serif;
$secondary-green-background:#D9D9D9;
$green-color:#0A8817;