@import './variables';
@import './common';
@import './base';
@import './header';
@import './gallery';
@import './about';
@import './advantage';
@import './customer-reviews';
@import './template';
@import './contacts';
@import './modal-locations';
@import './modalfr';

@import './header';
@import './modal-about';
@import './products';
@import './new-gallery';
@import './mixins';
@import './modal-products';
@import './footer';

