<section class="adv">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="adva-list">
      <li class="adv-item">
        <p class="adv-value">721</p>
        <p class="adv-descr1">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="adv-item">
        <p class="adv-value">16kg</p>
        <p class="adv-descr2">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="adv-item">
        <p class="adv-value">84</p>
        <p class="adv-descr3">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>