<section class="contacts">
    <div class="contacts__container container">
        <h2 class="contacts__title visually-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__agency">Cafe</p>
                <address class="contacts__location">Chicago
                    <a href="https://goo.gl/maps/gPPzWFPB5TACDUQA7" target="_blank" class="contacts__address">10340
                        Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </address>
                <div class="contacts__work-time">
                    <div class="contacts__workdays-time">
                        <p class="contacts__work-day">Monday - Friday</p>
                        <p class="contacts__work-hours">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts__holidays-time">
                        <p class="contacts__work-day">Saturday - Sunday</p>
                        <p class="contacts__work-hours">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div>
                    <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts__item">
                <p class="contacts__agency">Food truck</p>
                <address class="contacts__location">Los Angeles
                    <a href="https://goo.gl/maps/vxuYFFHgj5hXPhT47" target="_blank" class="contacts__address">1003
                        Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </address>
                <div class="contacts__work-time">
                    <p class="contacts__work-day">Monday - Friday</p>
                    <p class="contacts__work-hours">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-day">Saturday - Sunday</p>
                    <p class="contacts__work-hours">08:00 AM - 16:00 PM</p>
                </div>
                <div>
                    <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts__item">
                <p class="contacts__agency">Cafe</p>
                <address class="contacts__location">New York
                    <a href="https://goo.gl/maps/i6YDMKb4hNXrZFXW6" target="_blank" class="contacts__address">726
                        Sterling Pl, Brooklyn, NY 11222, USA</a>
                </address>
                <div class="contacts__work-time">
                    <p class="contacts__work-day">Monday - Friday</p>
                    <p class="contacts__work-hours">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-day">Saturday - Sunday</p>
                    <p class="contacts__work-hours">08:00 AM - 16:00 PM</p>
                </div>
                <div>
                    <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                </div>
            </li>
        </ul>

        <div class="contacts__button-block">
            <button type="button" class="contacts__button contacts__button--full button" data-modal-open-location>Our
                Locations
                <svg class="contacts__icon-next" width="12" height="12">
                    <use href="./images/icons.svg#icon-next"></use>
                </svg>
            </button>
            <button type="button" class="contacts__button contacts__button--border button button__secondary">Franchise
                <svg class="contacts__icon-next" width="12" height="12">
                    <use href="./images/icons.svg#icon-next"></use>
                </svg>
            </button>
        </div>
    </div>
</section>