<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="reviews-blok">
      <img class="reviews_image" srcset="./images/client1-1x.jpg 85w, ./images/client1-2x.jpg 85w"
        sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (min-width: 480px) 85px, 100vw"
        src="./images/client1-1x.jpg" alt="client Emily" />
    </div>
    <div class="reviews_container">
      <p class="reviews_text">
        I love visiting your cafe. You prepare the most delicious ice cream in Los
        Angeles! In addition, you have beautiful serving, cozy atmosphere and
        polite staff.
      </p>
    </div>
    <h3 class="reviews_title">Emily, Los Angeles</h3>
    <ul class="swiper">
      <li class="pagination"></li>
      <li class="pagination"></li>
      <li class="pagination"></li>
    </ul>
  </div>
</section>
