<div class='backdrop__modal-fr is-hidden' data-modal-fr>
  <div class='modal-fr'>
    <button class='modal-fr__bnt-close' data-modal-close-fr type='button'>
      <svg class='modal-fr__close-icon' height='20' width='20'>
        <use href='./images/icons.svg#icon-close'></use>
      </svg>
    </button>
    <p class='modal-fr__title'>Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class='modal-fr__text'>Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
    <form class='modal-fr__form'>
      <div class='modal-fr__field'>
        <input
          class='modal-fr__input'
          id='user-name'
          name='user-name'
          placeholder='Name'
          required
          type='text'
        />
      </div>
      <div class='modal-fr__field'>
        <input
          class='modal-fr__input'
          id='user-tel'
          name='user-tel'
          placeholder='Phone'
          required
          type='tel'
        />
      </div>
      <div class='modal-fr__field'>
        <input
          class='modal-fr__input'
          id='user-email'
          name='user-email'
          placeholder='Email'
          required
          type='email'/>
      </div>
      <div class='modal-fr__field-area'>
        <!-- <label for="user-comment" class="modal-label"></label> -->
        <textarea
          class='modal-fr__form-text'
          id='user-comment'
          name='user-comment'
          placeholder='Comment'
        ></textarea>
      </div>
      <button class='modal-fr__button button' type='submit'>Submit</button>
    </form>
  </div>
</div>
