<div class="backdrop__modal-about is-hidden" data-modal-about>
  <div class="modal-about">
    <button
      type="button"
      class="modal-about__close-button"
      data-modal-close-about
    >
      <svg class="modal-about__close-button-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal-about__content">
    <p class="modal-about__title">How it’s made?</p>

      <div class="modal-about__video-area">
        <video 
          src="#"
          poster="#"
          width="224"
          height="199"
          autoplay
          loop
          preload="auto"
          muted
          class="modal-about__video" /></video>
  
        <svg width="36" height="36" class="modal-about__video-play-btn">
          <use href="./images/icons.svg#play-btn"></use>
        </svg>
      </div>
  
      <p class="modal-about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>
</div>
