<section class='gallery-reviews'>
  <div class='container gallery'>
    <div class='swiper gallery'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide'>
          <img alt='ice cream' src='./images/image-gallery1-1x-desktop.jpg' />
        </div>
        <div class='swiper-slide'>
          <img alt='ice cream' src='./images/image-gallery2-1x.jpg' />
        </div>
        <div class='swiper-slide'>
          <img alt='ice cream' src='./images/image-gallery3-1x.jpg' />
        </div>
      </div>
    </div>
  </div>
  <div class='container reviews'>
    <div class='swiper review'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide'>
          <h2 class='visually-hidden'>Customer Reviews</h2>
          <div class='reviews-blok'>
            <picture>
              <source
                media='(min-width: 1200px)'
                srcset='./images/client1-1x.jpg 1x, ./images/client1-2x.jpg 2x'

              />
              <source
                media='(min-width: 768px)'
                srcset='./images/client1-1x.jpg 1x, ./images/client1-2x.jpg 2x'

              />
              <source
                media='(min-width: 220px)'
                srcset='./images/client1-1x.jpg 1x, ./images/client1-2x.jpg 2x'

              />

              <img alt='client' class='reviews_image' src='./images/client1-1x.jpg' />
            </picture>
          </div>
          <div class='reviews_container'>
            <p class='reviews_text'>
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <h3 class='reviews_title'>Emily, Los Angeles</h3>
        </div>
        <div class='swiper-slide'>
          <h2 class='visually-hidden'>Customer Reviews</h2>
          <div class='reviews-blok'>
            <picture>
              <source
                media='(min-width: 1200px)'
                srcset='./images/client2-1x.jpg 1x, ./images/client2-2x.jpg 2x'

              />
              <source
                media='(min-width: 768px)'
                srcset='./images/client2-1x.jpg 1x, ./images/client2-2x.jpg 2x'

              />
              <source
                media='(min-width: 220px)'
                srcset='./images/client2-1x.jpg 1x, ./images/client2-2x.jpg 2x'

              />

              <img alt='client' class='reviews_image' src='./images/client2-1x.jpg' />
            </picture>
          </div>
          <div class='reviews_container'>
            <p class='reviews_text'>
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <h3 class='reviews_title'>Bryan, New-York</h3>
        </div>
        <div class='swiper-slide'>
          <div class='reviews-blok'>
            <picture>
              <source
                media='(min-width: 1200px)'
                srcset='./images/client3-1x.jpg 1x, ./images/client3-2x.jpg 2x'

              />
              <source
                media='(min-width: 768px)'
                srcset='./images/client3-1x.jpg 1x, ./images/client3-2x.jpg 2x'

              />
              <source
                media='(min-width: 220px)'
                srcset='./images/client3-1x.jpg 1x, ./images/client3-2x.jpg 2x'

              />

              <img alt='client' class='reviews_image' src='./images/client3-1x.jpg' />
            </picture>
          </div>
          <div class='reviews_container'>
            <p class='reviews_text'>
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <h3 class='reviews_title'>Diana, Chicago</h3>
        </div>
      </div>
      <div class='swiper-pagination'></div>
    </div>
  </div>
</section>
