<div class="product-modal">
        <button type="button" class="product-modal-btn-close">X</button>
        <p class="product-modal__title">Chololate icecream</p>
        <ul class="elements-list">
            <li class="elements-list__item">320 kcal</li>
            <li class="elements-list__item">4g Prote...</li>
            <li class="elements-list__item">8,2g Fats</li>
            <li class="elements-list__item">40,4g Carbs</li>
        </ul>
        <p class="ingredients-list__title">Ingredients</p>
        <ul class="ingredients-list">
            <li class="ingredients-list__item">
                <p class="ingredients-list__item-dose">Milk</p>
                <p class="ingredients-list__item-dose">100ml</p>
            </li>
            <li class="ingredients-list__item">
                <p class="ingredients-list__item-dose">Belgian chocolate</p>
                <p class="ingredients-list__item-dose">20g</p>
            </li>
            <li class="ingredients-list__item">
                <p class="ingredients-list__item-dose">Cream</p>
                <p class="ingredients-list__item-dose">150 ml</p>
            </li>
            <li class="ingredients-list__item">
                <p class="ingredients-list__item-dose">Cocoa powder</p>
                <p class="ingredients-list__item-dose">30g</p>
            </li>
            <li class="ingredients-list__item">
                <p class="ingredients-list__item-dose">Sugar</p>
                <p class="ingredients-list__item-dose">40g</p>
            </li>
            <li class="ingredients-list__item">
                <p class="ingredients-list__item-dose">Vanilla sugar</p>
                <p class="ingredients-list__item-dose">10g</p>
            </li>
        </ul>
        <form class="product-modal-form">
            <div><input type="text" class="form-input" name="name" id="name" placeholder="Name" /></div>
            <div><input type="tel" class="form-input" name="tel" id="tel" placeholder="Phone" /></div>
            <div><textarea class="form-comment" name="comment" id="comment" placeholder="Comment"></textarea></div>
            <button type="submit" class="product-modal-btn">Submit</button>
        </form>
    </div>