       <section class="products">
            <b class="products__label">100% natural</b>
            <h2 class="products__title">Products</h2>
            <ul class="products__list">
                <li class="products__item">
                    <h3 class="products__item-title">Ice cream</h3>
                    <article class="products__item-description">Soft ice cream with a delicate taste. Made with milk,
                        cream, sugar and natural stabilizer</article>
                    <button class="products__item-btn" type="button">-></button>
                </li>
                <li class="products__item">
                    <h3 class="products__item-title">Ice coffee</h3>
                    <article class="products__item-description">Fragrant invigorating drink created from 100% natural
                        ingredients without the use of preservatives and flavor enhancers
                    </article>
                    <button class="products__item-btn" type="button">-></button>
                </li>
                <li class="products__item">
                    <h3 class="products__item-title">Milkshakes</h3>
                    <article class="products__item-description">Sweet drinks based on milk and ice cream, supplemented
                        with syrups, fruits, berries and other sweets of your choice
                    </article>
                    <button class="products__item-btn" type="button">-></button>
                </li>
            </ul>
        </section>
    